<section class="container-lg py-5">
  <h1 class="text-center fw-bold">Szoba Lista</h1>
  <button
    type="button"
    class="btn btn-primary mb-4"
    (click)="newRoom()"
  >
    Új Szoba...
  </button>
  <table class="table text-center table-striped shadow-lg">
    <thead>
      <tr >
        <th class="p-0 p-md-2 p-lg-3 align-middle " scope="col">Szobaszám</th>
        <th class="p-0 p-md-2 p-lg-3 align-middle " scope="col">Emelet</th>
        <th class="p-0 p-md-2 p-lg-3 align-middle " scope="col">Ágyszám</th>
        <th class="p-0 p-md-2 p-lg-3 align-middle " scope="col">Erkélyes</th>
        <th class="p-0 p-md-2 p-lg-3 align-middle " scope="col">Kép</th>
        <th class="p-0 p-md-2 p-lg-3 align-middle " scope="col">Értékelések</th>
        <th class="p-0 p-md-2 p-lg-3 align-middle " scope="col">Törlés</th>
        <th class="p-0 p-md-2 p-lg-3 align-middle " scope="col">Szerkesztés</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let room of rooms$ | async | sort: 'numberOf'; index as i"
        class="align-middle p-lg-3 "
      >
        <td class="p-0 p-md-2 p-lg-3 align-middle">{{ room.numberOf }}</td>
        <td class="p-0 p-md-2 p-lg-3 align-middle">{{ room.floor }}</td>
        <td class="p-0 p-md-2 p-lg-3 align-middle">{{ room.bed }}</td>
        <td class="p-0 p-md-2 p-lg-3 align-middle">
          <fa-icon
            [icon]="room.isBalcony ? icons.true : icons.false"
            [ngStyle]="{ color: room.isBalcony ? 'green' : 'red' }"
          >
          </fa-icon>
        </td>
        <td class="p-0">
          <img
            [src]="room.imageSrc"
            class="m-0 p-0 roomimage__size--mini roomimage rounded mx-auto d-block"
            [alt]="room.numberOf"
          />
        </td>
        <td class="p-0 p-md-2 p-lg-3 align-middle">
          <fa-icon class="pointer text-warning" [icon]="icons.star"></fa-icon>
        </td>
        <td class="p-0 p-md-2 p-lg-3 align-middle">
          <button
            type="button"
            (click)="deleteRoom(room)"
            class="btn btn-danger"
          >
            <fa-icon [icon]="icons.delete"></fa-icon>
          </button>
        </td>
        <td class="p-0 p-md-2 p-lg-3 align-middle">
          <button
            (click)="editRoom(room)"
            class="btn btn-success"
            type="button"
          >
            <fa-icon [icon]="icons.edit"></fa-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</section>



