body {
    height: 100vh;
    background-size: cover;
    background-position: center;
    font-family: "Roboto", sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  }
  
  .wrapper {
    overflow: hidden;
    position: relative;
  }
  
  .background-image {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: .55;
  }
  
  .content {
    position: relative;
  }