<div class="container">
  <button
    data-bs-toggle="modal"
    data-bs-target="#newReservationModal"
    class="btn btn-primary my-3"
    (click)="reservationForm.reset()"
  >
    Új foglalás...
  </button>

  <ng-container *ngIf="isReservationsEmpty$ | async; else table">
    <div class="my-3">Nincs a keresési feltételeknek megfelelő elem.</div>
  </ng-container>

  <ng-template #table>
    <table class="table text-center table-striped align-middle">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Szoba</th>
          <th scope="col">Megjegyzés</th>
          <th scope="col">Kezdődátum</th>
          <th scope="col">Végdátum</th>
          <th scope="col">Személyek száma</th>
          <th scope="col">Törlés</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reservation of reservations$ | async; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ reservation.roomId }}</td>
          <td>{{ reservation.comments }}</td>
          <td>
            {{ reservation.startDate.toDate() | date: "yyyy-MM-dd HH:mm" }}
          </td>
          <td>{{ reservation.endDate.toDate() | date: "yyyy-MM-dd HH:mm" }}</td>
          <td>{{ reservation.numberOfCustomers }}</td>
          <td>
            <button
              type="button"
              (click)="deleteReservation(reservation)"
              class="btn btn-danger"
            >
              <i class="fa fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-template>
</div>

<section
  class="modal fade pt-5"
  id="newReservationModal"
  tabindex="-1"
  aria-labelledby="roomModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-dark fw-bold" id="roomModalLabel">
          Új foglalás felvitele
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="reservationForm">
          <div class="form-group">
            <label for="roomId">Szoba</label>

            <select
              class="form-select"
              id="roomId"
              name="roomId"
              formControlName="roomId"
              aria-label="Default select example"
            >
              <option>Válasszon szobát...</option>
              <option
                *ngFor="let singleValue of roomValues; index as i"
                [id]="i"
                [value]="singleValue"
              >
                {{ singleValue }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="comments">Megjegyzés</label>
            <textarea
              autosize
              type="text"
              class="form-control"
              id="comments"
              name="comments"
              placeholder="Megjegyzés..."
              formControlName="comments"
            ></textarea>
            <small
              class="text-danger"
              *ngIf="
                reservationForm.get('comments')?.invalid &&
                reservationForm.get('comments')?.touched
              "
              >Hiba a megjegyzés megadásánál, legfeljebb 100 karaktert
              írjon.</small
            >
          </div>
          <div class="form-group">
            <label for="startDate">Kezdő dátum</label>
            <input
              #startdateref
              (change)="dispatchDateChange()"
              type="date"
              class="form-control"
              id="startDate"
              name="startDate"
              [min]="today.toString()"
              max="2023-12-31"
              formControlName="startDate"
              [value]="startDate | date: 'yyyy-MM-dd'"
              required
            />
          </div>
          <div class="form-group">
            <label for="endDate">Végdátum</label>
            <input
              #enddateref
              (change)="dispatchDateChange()"
              class="form-control"
              type="date"
              id="endDate"
              name="endDate"
              [min]="today"
              max="2023-12-31"
              formControlName="endDate"
              [value]="endDate | date: 'yyyy-MM-dd'"
              required
            />
          </div>
          <div class="form-group">
            <label for="numberOfCustomers">Személyek száma</label>
            <input
              type="number"
              class="form-control"
              id="numberOfCustomers"
              name="numberOfCustomers"
              formControlName="numberOfCustomers"
              placeholder="Személyek száma..."
            />
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button
          type="submit"
          [disabled]="!reservationForm.valid"
          data-bs-dismiss="modal"
          class="btn btn-success"
          (click)="newReservation()"
        >
          Mentés
        </button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Mégsem
        </button>
      </div>
    </div>
  </div>
</section>
