<div class="container py-5">
  <h1 class="text-center fw-bold mb-5">Főoldal</h1>
  <div class="row">
    <div class="col-12 card mb-3">
      <div class="card-body">
        <h2 class="card-title">Hírek, Események</h2>
        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid molestiae officia sapiente minus dolorum rerum fuga perspiciatis alias. Nam, ullam?</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi doloremque nulla beatae. Assumenda labore quis exercitationem debitis? Nulla deleniti minus facilis laborum velit sequi aliquam alias animi quae natus tenetur, architecto illum quod, amet facere id qui minima ipsa maiores.</p>
      </div>
    </div>
    <div class="col-12 card mb-3">
      <div class="card-body">
        <h2 class="card-title mb-3">Olvasatlan Üzenetek</h2>

        <div class="row">
          <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
              <a *ngFor="let massage of massages.slice(arrowsControll.massagesStart,arrowsControll.massagesEnd),index as i"
                class="list-group-item list-group-item-action"
                [id]="'list-massage-'+i+'list'" data-bs-toggle="list"
                [href]="'#list-massage'+i" role="tab"
                [attr.aria-controls]="'list-massage'+i">{{massage.sender}}</a>
            </div>
          </div>
          <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
              <div *ngFor="let massage of massages,index as i"
                class="tab-pane fade"
                [id]="'list-massage'+i"
                role="tabpanel"
                [attr.aria-labelledby]="'list-massage'+i+'-list'">
                <div class="card" >
                  <div class="card-body">
                    <h5 class="card-title">{{massage.title}}</h5>
                    <p class="card-text">{{massage.text}}</p>
                    <div class="div d-flex justify-content-between">
                      <button  class="btn btn-warning">Elolvasva</button>
                      <button class="btn btn-primary">Válasz</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-12 card mb-3">
      <div class="card-body">
        <h2 class="card-title mb-4">Visszaigazolatlan, Foglalások</h2>
        <div class="row">
          <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
              <a *ngFor="let reservation of (unconfirmedReservations$ | async)?.slice(arrowsControll.reservationsStart,arrowsControll.reservationsEnd),index as i"
                class="list-group-item list-group-item-action text-center"
                [id]="'list-reservation-'+i+'list'" data-bs-toggle="list"
                [href]="'#list-reservation'+i" role="tab"
                [attr.aria-controls]="'list-reservation'+i">
                  {{reservation._id}}
              </a>
            </div>

          </div>
          <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
              <div *ngFor="let reservation of (unconfirmedReservations$ | async)?.slice(arrowsControll.reservationsStart,arrowsControll.reservationsEnd),index as i"
                class="tab-pane fade"
                [id]="'list-reservation'+i"
                role="tabpanel"
                [attr.aria-labelledby]="'list-reservation'+i+'-list'">
                <div class="card" >
                  <div class="card-body">
                    <h5 class="card-title">{{reservation.customerId}}</h5>
                    <p class="card-text">{{reservation.comments}}</p>
                    <div class="div">
                      <button class="btn btn-primary">Szerkesztés</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
