<div class="container py-5">
  <h1 class="text-center fw-bold mb-5">Főoldal</h1>
  <button class="btn btn-primary" (click)="randomMessageGenerator()">random üzenet</button>
  <div class="row">
    <div class="col-12 card mb-3 shadow">
      <div class="card-body">
        <h2 class="card-title">Hírek, Események</h2>
        <p class="card-text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid
          molestiae officia sapiente minus dolorum rerum fuga perspiciatis
          alias. Nam, ullam?
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi
          doloremque nulla beatae. Assumenda labore quis exercitationem debitis?
          Nulla deleniti minus facilis laborum velit sequi aliquam alias animi
          quae natus tenetur, architecto illum quod, amet facere id qui minima
          ipsa maiores.
        </p>
      </div>
    </div>


    <div class="col-12 card mb-3 shadow">
      <div class="card-body">
        <h2 class="card-title mb-3">Olvasatlan Üzenetek</h2>
        <div class="row">
          <div class="col-4 col-md-3">
            <div class="list-group shadow rounded-pill text-center" id="list-tab" role="tablist">
              <a class="list-group-item list-group-item--hover list-group-item__btn list-group-item-action p-0 m-0"
                role="button"
                (click)="massageUpClick()"
                >
                <fa-icon  [icon]="icons.up"></fa-icon>
              </a>
              <a *ngFor="let massage of sliceCurrentMessages((messages$|async));index as i"
                class="list-group-item list-group-item--hover list-group-item-action pointer m-0 border"
                data-bs-toggle="list"
                (click)="openMessageTab(massage)"
                role="tab"
                [ngClass]="{'active':massage._id===selectedMessage?._id}"
                >{{ (getSenderFullName(massage.senderId) |async)}}</a>
              <a class="list-group-item list-group-item--hover list-group-item__btn list-group-item-action p-0 m-0"
              role="button" (click)="massageDownClick()">
              <fa-icon  [icon]="icons.down"></fa-icon>
            </a>
            </div>
          </div>
          <div *ngIf="selectedMessage !== undefined" class="col-8 col-md-9">
            <div class="tab-content" id="nav-tabContent">
              <div role="tabpanel">
                <div class="card shadow">
                  <div class="card-body">
                    <h5 class="card-title">{{ selectedMessage.title }}</h5>
                    <p class="card-text">{{ selectedMessage.text }}</p>
                    <div class="div d-flex justify-content-between">
                      <button class="btn btn-warning" (click)="read(selectedMessage)">Elolvasva</button>
                      <button class="btn btn-primary">Válasz</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


<div class="col-12 card mb-3 shadow">
  <div class="card-body">
    <h2 class="card-title mb-3">Visszaigazolatlan, Foglalások</h2>
    <div class="row">
      <div class="col-4 col-md-3">
        <div class="list-group shadow rounded-pill text-center" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item--hover list-group-item__btn list-group-item-action p-0 m-0"
            role="button"
            (click)="unconfirmedReservationUpClick()"
            >
            <fa-icon  [icon]="icons.up"></fa-icon>
          </a>
          <a *ngFor="let reservation of sliceUnconfirmedReservations((unconfirmedReservations$|async));index as i"
            class="list-group-item list-group-item--hover list-group-item-action pointer m-0 border"
            data-bs-toggle="list"
            role="tab"
            [ngClass]="{'active':reservation._id===selectedReservation?._id}"
            (click)="openReservationTab(reservation)"
            >
            {{ (getRoomNumberOfById(reservation.roomId) | async)?.numberOf }} - (
              {{ reservation.startDate.toDate() | date: "MM.dd" }} -
              {{ reservation.endDate.toDate() | date: "MM.dd" }} )
            </a>
          <a class="list-group-item list-group-item--hover list-group-item__btn list-group-item-action p-0 m-0"
          role="button" (click)="unconfirmedReservationDownClick()">
          <fa-icon  [icon]="icons.down"></fa-icon>
        </a>
        </div>
      </div>
      <div class="col-8 col-md-9" *ngIf="selectedReservation!==undefined">
        <div class="tab-content" >
          <div role="tabpanel">
            <div class="card shadow">
              <div class="card-body">
                <h5 class="card-title">
                  Szoba: {{ (getRoomNumberOfById(selectedReservation.roomId) | async)?.numberOf }} - Érkezés:
                  {{
                    selectedReservation.startDate.toDate() | date: "yyyy-MM-dd"
                  }}
                  - Távozás:
                  {{ selectedReservation.endDate.toDate() | date: "yyyy-MM-dd" }}
                </h5>
                <p class="card-text">{{ selectedReservation.comments }}</p>
                <div class="div">
                  <button class="btn btn-primary" (click)="openEditReservation(selectedReservation)"
                    type="button"
                  >Szerkesztés</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- mai nap elutazók is -->

  </div>
</div>






