body {
  height: 100vh;
  background-size: cover;
  background-position: center;
  font-family: "Roboto", sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.wrapper {
  overflow: hidden;
  position: relative;
}

.img-fluid {
  margin: 2rem 0;
  border: .85rem solid white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

div.sticky {  
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 8px;
}

.background-image {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: .25;
}

.content {
  position: relative;
}

#logoimg {
  background: transparent;
  width: 8rem;
}

  .lead {
    text-shadow: none;
    color: black;
  }



#copyright {
  text-align: center;
  text-shadow: none;
  padding-bottom: 8px;
}

.slideshow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 100s linear infinite;
}



