body {
  height: 100vh;
  background-size: cover;
  background-position: center;
  font-family: "Roboto", sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

p {
  font-size: 2rem;
}
.wrapper {
  overflow: hidden;
  position: relative;
}

.start {
  margin-top: 48px;
}

.img-fluid {
  margin: 2rem 0;
  border: .85rem solid white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.logo {  
  transition: all 0.4s;
  text-align: center;
  padding-top: 5rem;
}

.scrolled-down {
    transition: all 0.4s;
    transform: scale(0.01);
}


.background-image {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: .25;
}

.content {
  position: relative;
}

#logoimg {
  background: transparent;
  width: 8rem;
}

  .lead {
    text-shadow: none;
    color: black;
  }



#copyright {
  text-align: center;
  text-shadow: none;
  padding-bottom: 8px;
}





