<body>
  <main>
    <div>
      <h1>Szálloda</h1>
      <p class="lead">
        <br />
        Kérdés egy? <br />
        Kérdés kettő? <br />
        Behívó szöveg!
      </p>
      <div class="buttons d-flex justify-content-center align-items-center">
        <button class="btn btn-primary" routerLink="customer">
          Vendég vagyok!
        </button>
        <button class="btn btn-warning" routerLink="worker">
          Itt dolgozom
        </button>
      </div>
    </div>
  </main>
  <div class="copyright">2022 Chris & Chris.® Minden jog fenntartva!©</div>

  <ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</body>
