<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title text-dark fw-bold" id="roomModalLabel">
      Új foglalás felvitele
    </h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="reservationForm">
      <div class="form-group">
        <label for="roomId">Szoba</label>

        <select
          class="form-select"
          id="roomId"
          name="roomId"
          formControlName="roomId"
          aria-label="Room selector"
        >
          <option disabled selected [ngValue]="null">
            Válasszon szobát...
          </option>
          <option
            *ngFor="let room of rooms$ | async | sort: 'numberOf'"
            [value]="room._id"
          >
            {{ room.numberOf }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="comments">Megjegyzés</label>
        <textarea
          autosize
          type="text"
          class="form-control"
          id="comments"
          name="comments"
          placeholder="Megjegyzés (minimum 10, maximum 100 karakter)..."
          formControlName="comments"
        ></textarea>
        <small
          class="text-danger"
          *ngIf="
            reservationForm.get('comments')?.invalid &&
            reservationForm.get('comments')?.touched
          "
          >Hiba a megjegyzés megadásánál, min 10 max 100 karaktert írjon.</small
        >
      </div>
      <div class="form-group">
        <label for="startDate">Kezdő dátum</label>
        <input
          #startdateref
          (input)="dispatchDateChange()"
          type="date"
          class="form-control"
          id="startDate"
          name="startDate"
          [min]="today.toString()"
          max="2023-12-31"
          formControlName="startDate"
          [value]="startDate | date: 'yyyy-MM-dd'"
          required
        />
      </div>
      <div class="form-group">
        <label for="endDate">Végdátum</label>
        <input
          #enddateref
          (input)="dispatchDateChange()"
          class="form-control"
          type="date"
          id="endDate"
          name="endDate"
          [min]="today"
          max="2023-12-31"
          formControlName="endDate"
          [value]="endDate | date: 'yyyy-MM-dd'"
          required
        />
      </div>
      <div class="form-group">
        <label for="numberOfCustomers">Személyek száma (1-4)...</label>
        <input
          type="number"
          class="form-control"
          id="numberOfCustomers"
          name="numberOfCustomers"
          formControlName="numberOfCustomers"
          placeholder="Személyek száma..."
        />
      </div>
    </form>
  </div>
  <div class="modal-footer justify-content-between">
    <button
      type="submit"
      [disabled]="!reservationForm.valid"
      data-bs-dismiss="modal"
      class="btn btn-success"
      (click)="newReservation()"
    >
      Mentés
    </button>
    <button
      type="button"
      class="btn btn-danger"
      data-bs-dismiss="modal"
      (click)="modalRef.close()"
    >
      Mégsem
    </button>
  </div>
</div>
